/*.message {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

#messagesView {
    border-style: solid;
    width: 100%;
    height: 100%; 
    overflow: scroll;
}

.userName{
    color: red
}*/
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    38deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}
.card {
  margin-top: 5vh;
}
#messages {
  display: none;
}
.info,
active_users {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.link:hover {
  text-decoration: none;
  color: #404040;
}
.link {
  color: #6e6e6e;
}
.card-body {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
#active_users {
  display: none;
}
#error {
  display: none;
  margin-top: 7vh;
  background-color: aliceblue;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 5px;
}
.card {
  height: 80vh;
}

.form-inline {
  display: flex;
  flex-direction: row;
}

#chat {
  flex: 1;
}

.transcript-highlight:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.main {
  padding: 0.53rem 1.25rem;
  display: inline-flex;
  justify-content: space-between;
}
.main-name {
  align-self: center;
  align-items: center;
  margin-bottom: 0;
}

@media print {
  .col-md-6 {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }
  .card {
    border: none;
    display: block;
    width: 100%;
    height: auto;
  }

  #messagesCardBody {
    overflow: visible;
  }
}
